
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    helm.sh/hook: crd-install
    controller-gen.kubebuilder.io/version: v0.2.4
  creationTimestamp: null
  name: cloudprovideraccounts.kommander.mesosphere.io
spec:
  additionalPrinterColumns:
  - JSONPath: .metadata.annotations.kommander\.mesosphere\.io/display-name
    name: Display name
    type: string
  - JSONPath: .spec.provider
    name: Provider
    type: string
  - JSONPath: .metadata.creationTimestamp
    name: Age
    type: date
  group: kommander.mesosphere.io
  names:
    kind: CloudProviderAccount
    listKind: CloudProviderAccountList
    plural: cloudprovideraccounts
    shortNames:
    - cpa
    - cpas
    singular: cloudprovideraccount
  preserveUnknownFields: false
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: CloudProviderAccount holds the details for specific cloud provider
        accounts.
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: CloudProviderAccountSpec defines the state for the CloudProviderAccount.
          properties:
            credentialsRef:
              description: LocalObjectReference contains enough information to let
                you locate the referenced object inside the same namespace.
              properties:
                name:
                  description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                    TODO: Add other useful fields. apiVersion, kind, uid?'
                  type: string
              type: object
            provider:
              description: ProviderType is an aliased type for provider types.
              type: string
          required:
          - credentialsRef
          - provider
          type: object
        status:
          description: 'CloudProviderAccountSpec holds the status for the CloudProviderAccount.
            Currently empty. TODO: Define phase and/or conditions that are useful
            to clients, such as invalid credentials, expired credentials, etc'
          type: object
      type: object
  version: v1beta1
  versions:
  - name: v1beta1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
